{% extends 'base.html.twig' %}
{% block content %}
    {% block title %}Currencies - {{ date }}{% endblock %}
    {% set page = app.request.get('page') %}
    <form method="post" class="float-right">
        <label for="date">Date:</label>
        <input id="date" name="date" type="date" value="{{ date }}"/>
        <button class="btn" type="submit">Submit</button>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Currency</th>
            <th>Rate</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% if rates is empty %}
                <td>No rates found for this date</td>
            {% endif %}
        </tr>
        {% for rate in rates %}
            <tr>
                <td><a href="/currency/{{ rate.currency.id }}" class="badge badge-light">{{ rate.currency.name }}</a>
                </td>
                <td>{{ rate.value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if rates|length > 0 %}
        <ul class="pagination">
            <li class="page-item + {{ page <= 1 ?  'disabled' : '' }}"><a class="page-link"
                                                                          href="/{{ page-1 }}/{{ date }}">Previous</a>
            </li>
            {% for i in range(1, pages) %}
                <li class="page-item"><a class="page-link" href="/{{ i }}/{{ date }}">{{ i }}</a></li>

            {% endfor %}
            <li class="page-item  + {{ page >= pages ?  'disabled' : '' }}"><a class="page-link"
                                                                               href="/{{ page+1 }}/{{ date }}">Next</a>
            </li>
        </ul>
    {% endif %}
    <nav>
    </nav>
{% endblock %}